            <div class="intro-text type1">

<div class="container">
	<div class="dt-sc-hr-invisible-very-small"></div>
<div class="col-xs-12 col-md-8 col-lg-8 text-center">
  <a href="http://carlosmatafigueroa.org/"> <%= image_tag "banner2.jpg", style: "box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19), 0 8px 10px 0 rgba(0, 0, 0, 0.30);"%></a>

</div>
    <div class=" col-xs-12 col-md-4 col-lg-4 text-left" style="display: inline-block;vertical-align: middle;float: none;">
        <h4 style="display: inline-block;vertical-align: middle;float: none;">Conoce el calendario de <strong>Actividades</strong> de  <strong>la Fundación Social Nueva Esparta.</strong></h4>
    </div>

</div>
<div class="dt-sc-hr-invisible-very-small"></div>
            </div><!-- **full-width-section - Ends** -->
