<!-- **Full-width-section - Starts** -->
          <div class="full-width-section">

              <div class="container">

<div class="hr-title">
  <h2>Galeria de Fotos</h2>
  <div class="title-sep">
  </div>
</div>
<div class="text-center">
  <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/f46214f3452c536cb1fcd8c4da7941a0.html" id="lightwidget_f46214f345" name="lightwidget_f46214f345"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 40%; border: 0; overflow: hidden;"></iframe>

</div>
</div>

          <div class="dt-sc-margin50"></div>
          </div> <!-- **Full-width-section - Ends** -->
